@import "normalize-scss/sass/normalize";
@import "settings/_fonts.scss";
@import "settings/_colors.scss";
@import "src/scss/style/_Navigation";
@import "src/scss/style/_Home";
@import "src/scss/style/_StartHelp";
@import "src/scss/style/_ThreeColumns";
@import "src/scss/style/_Info";
@import "src/scss/style/_About";
@import "src/scss/style/_Contact";
@import "src/scss/style/_FundAndOrg";

body {
  font-family: $font-base, $font-alt;
  margin: 0;
  box-sizing: border-box;
}